body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.7;
  color: $color-grey-dark;
}

.heading-primary {
  text-transform: uppercase;
  margin: 6rem;

  &--main {
    color: $color-grey-light;
    display: block;
    font-size: 7rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    margin-right: -3.5rem;

    @include respond(tab-land) {
      letter-spacing: 2rem;
    }

    @include respond(phone) {
    }
  }

  &--sub {
    color: $color-white;
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    margin-right: -1.75rem;
  }
}

.heading-secondary {
  font-size: 2rem;
  color: $color-grey;
}

.heading-tertiary {
  font-size: 2.4rem;
  // font-weight: 400;
  color: $color-grey;
  font-style: italic;
}

.heading-section {
  text-align: center;
  text-transform: uppercase;
  margin: 4rem 0;
  color: $color-black;
  font-size: 5rem;
  font-weight: 400;
  letter-spacing: 1.75rem;
  margin-right: -1.75rem;

  &--dark {
    color: $color-black;
  }

  &--light {
    color: $color-grey-light;
  }
}

.paragraph {
  font-size: 1.6rem;
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
