.section-details {
  @include sectionStyling;
  background-color: rgba($color-bg-dark, 0.5);
  min-height: 10vh;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, min-content);
  grid-gap: 6rem;
  align-items: start;

  @include respond(tab-port) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, min-content);
  }
}

.section-projects {
  @include sectionStyling;
  padding: 5rem 2rem;
  background-color: $color-bg-light;
  border: 1px solid rgba($color-black, 0.3);
  @include respond(phone) {
    padding: 5rem 2rem;
  }
}

.section-skills {
  @include sectionStyling;
  background-color: rgba($color-bg-dark, 0.5);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  @include respond(tab-port) {
    padding: 5rem 2rem;
  }
}

.section-about {
  @include sectionStyling;
  background-color: $color-bg-light;

  @include respond(tab-port) {
    padding: 5rem 2rem;
  }
}

.section-contact {
  @include sectionStyling;
  background-color: rgba($color-bg-dark, 0.5);

  @include respond(phone) {
    padding: 5rem 1rem 5rem 1rem;
  }
}

.boundary__start {
  height: 15vh;

  clip-path: polygon(
    0 100%,
    0 98%,
    20% 98%,
    35% 2%,
    65% 2%,
    80% 98%,
    100% 98%,
    100% 100%
  );

  @include respond(tab-port) {
    height: 5vh;
  }

  &--light {
    background-color: $color-bg-light;
  }

  &--dark {
    background-color: rgba($color-bg-dark, 0.5);
  }
}

.boundary__end {
  height: 15vh;
  clip-path: polygon(20% 0, 80% 0, 65% 98%, 35% 98%);

  @include respond(tab-port) {
    height: 5vh;
  }

  &--light {
    background-color: $color-bg-light;
  }

  &--dark {
    background-color: rgba($color-bg-dark, 0.5);
  }
}

.boundary-bottom {
  filter: drop-shadow(0 1rem 0.5rem rgba($color-black, 0.8));
}

.boundary-top {
  filter: drop-shadow(0 -0.5rem 0rem rgba($color-black, 0.3));
}
