.section-projects {
  background-color: $color-grey-light;
  z-index: 50;
  position: relative;
  padding: 10rem 5rem 20rem 5rem;
  margin-top: -6rem;

  clip-path: polygon(0 0, 100% 0, 100% 90%, 90% 100%, 10% 100%, 0 90%);

  @include respond(tab-port) {
    margin-top: -12rem;

    padding: 12rem 5rem 10rem 5rem;
    clip-path: polygon(0 0, 100% 0, 100% 98%, 90% 100%, 10% 100%, 0 98%);
  }

  @include respond(phone) {
    padding: 12rem 1rem 13rem 1rem;
  }
}

.section-skills {
  text-align: center;
  background-color: $color-grey-dark;
  position: relative;
  z-index: 40;
  padding: 10rem 5rem 30rem 5rem;
  margin-top: -10rem;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 90% 90%, 10% 90%, 0 100%);

  @include respond(tab-port) {
    padding: 10rem 5rem 20rem 5rem;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 90% 95%, 10% 95%, 0 100%);
  }
}

.section-about {
  background-color: $color-grey-light;

  position: relative;
  z-index: 30;
  padding: 10rem 5rem 10rem 5rem;
  margin-top: -20rem;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 95%,
    90% 100%,
    90% 100%,
    10% 100%,
    0 95%
  );

  @include respond(phone) {
    padding: 10rem 2rem 10rem 2rem;
  }
}

.section-contact {
  background-color: $color-grey-dark;

  z-index: 20;
  position: relative;
  padding: 10rem 5rem 10rem 5rem;
  margin-top: -10rem;

  @include respond(phone) {
    padding: 10rem 2rem 10rem 2rem;
  }
}
