.section-intro {
  padding: 5rem 10rem 5rem 10rem;
  text-align: center;
  background-color: $color-bg-dark;
  margin-top: -2px;
  box-shadow: 0 -0.1rem 0rem rgba($color-black, 0.8);

  @include respond(tab-port) {
    padding: 5rem 3rem 5rem 3rem;
  }
}

.section-details {
  background-color: $color-bg-dark;
  padding: 0 5rem 5rem 5rem;
  min-height: 10vh;
  box-shadow: 0 1rem 0.5rem rgba($color-black, 0.8);

  display: grid;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, min-content);

  grid-gap: 6rem;
  align-items: start;

  margin-bottom: -2px;

  @include respond(tab-port) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, min-content);
  }
}

.section-projects {
  background-color: $color-bg-light;
  padding: 0 5rem 3rem 5rem;
  box-shadow: 0 1rem 0.5rem rgba($color-black, 0.8);
  margin-bottom: -1px;

  @include respond(phone) {
    padding: 0 1rem 2rem 1rem;
  }
}

.section-skills {
  padding: 0 5rem 3rem 5rem;
  text-align: center;

  background-color: $color-bg-dark;
  box-shadow: 0 1rem 0.5rem rgba($color-black, 0.8);
  margin-top: -1px;
  margin-bottom: -1px;

  @include respond(tab-port) {
    padding: 0 2rem 3rem 2rem;
  }
}

.section-about {
  background-color: $color-bg-light;
  padding: 0 5rem 3rem 5rem;
  box-shadow: 0 1rem 0.5rem rgba($color-black, 0.8);
  margin-top: -1px;
  margin-bottom: -2px;
  @include respond(tab-port) {
    padding: 5rem 2rem;
  }
}

.section-contact {
  background-color: $color-bg-dark;
  padding: 0 5rem 3rem 5rem;
  box-shadow: 0 1rem 0.5rem rgba($color-black, 0.8);
  margin-top: -2px;

  @include respond(phone) {
    padding: 5rem 1rem 5rem 1rem;
  }
}

.boundary__start {
  height: 15vh;

  clip-path: polygon(
    0 100%,
    0 98%,
    20% 98%,
    35% 2%,
    65% 2%,
    80% 98%,
    100% 98%,
    100% 100%
  );

  @include respond(tab-port) {
    height: 5vh;
  }

  &--light {
    background-color: $color-bg-light;
  }

  &--dark {
    background-color: $color-bg-dark;
  }
}

.boundary__end {
  height: 15vh;
  clip-path: polygon(20% 0, 80% 0, 65% 98%, 35% 98%);

  @include respond(tab-port) {
    height: 5vh;
  }

  &--light {
    background-color: $color-bg-light;
  }

  &--dark {
    background-color: $color-bg-dark;
  }
}

.boundary-bottom {
  filter: drop-shadow(0 1rem 0.5rem rgba($color-black, 0.8));
}

.boundary-top {
  filter: drop-shadow(0 -0.1rem 0rem rgba($color-black, 0.3));
}
