/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait mode
900 - 1200px:   Tablet landscape mode
(1200 - 1800px:  Normal styles applied)
1800px + :      Big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- desktop
- big-desktop
- iphone X

ORDER: base + typography > general layout + grid > page layout > components

1em = 16px
*/
/** For individual back grounds**/
/** For alternating backgrounds **/
@keyframes expand {
  0% {
    transform: scaleX(0); }
  50% {
    transform: scaleX(0); }
  100% {
    transform: scaleX(1); } }

@keyframes growdot {
  0% {
    width: 1px;
    height: 1px;
    background-color: white;
    border-radius: 100%; }
  17% {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 100%; }
  34% {
    width: 1px;
    height: 1px;
    background-color: white;
    border-radius: 0; }
  35% {
    width: 1px;
    height: 1px;
    background-color: transparent; }
  50% {
    width: 1px;
    height: 120vh;
    background-color: transparent; }
  100% {
    width: 100vw;
    height: 1vh;
    background-color: transparent; } }

@keyframes bounce {
  0% {
    transform: translate(0); }
  5% {
    transform: translateY(-0.8vh); }
  8% {
    transform: translateY(-1.6vh); }
  10% {
    transform: translateY(-2vh); }
  20% {
    transform: translate(0); }
  30% {
    transform: translateY(-1.6vh); }
  40% {
    transform: translate(0); }
  50% {
    transform: translateY(-0.8vh); }
  60% {
    transform: translate(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  60% {
    transform: rotate(10deg); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  60% {
    transform: rotate(10deg); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  60% {
    transform: rotate(10deg); }
  80% {
    transform: translateY(-0.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes growNav {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 90% 100%, 85% 0, 15% 0, 10% 100%, 0 100%); }
  25% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 80% 100%, 75% 0, 15% 0, 10% 100%, 0 100%); }
  50% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 100%, 65% 0, 25% 0, 20% 100%, 0 100%); }
  75% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 60% 100%, 55% 0, 35% 0, 30% 100%, 0 100%); }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  scroll-behavior: smooth;
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 43.75%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  background-color: #ebfbff; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #24272b; }

.heading-primary--main {
  color: #ebfbff;
  font-size: 7rem;
  font-weight: 400;
  letter-spacing: 1rem; }
  @media (max-width: 37.5em) {
    .heading-primary--main {
      font-size: 7rem; } }

.heading-primary--sub {
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.5rem; }
  @media (max-width: 37.5em) {
    .heading-primary--sub {
      font-size: 2rem; } }

.heading-secondary {
  font-size: 2rem;
  color: #c7d3e2; }

.heading-tertiary {
  font-size: 2.4rem;
  color: #c7d3e2;
  font-style: italic; }

.heading-section {
  text-align: center;
  color: #24272b;
  font-size: 5rem;
  font-weight: 400;
  letter-spacing: 1rem;
  margin-bottom: 4rem; }
  @media (max-width: 37.5em) {
    .heading-section {
      font-size: 4rem;
      letter-spacing: 1rem;
      margin-right: -1rem; } }
  .heading-section--dark {
    color: #24272b; }
  .heading-section--light {
    color: #ebfbff; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.text--light {
  color: #ebfbff; }

.text--dark {
  color: #24272b; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.about {
  width: 80%;
  margin: 0 auto;
  border-top: 10px solid #50d7fc;
  border-radius: 3px;
  padding: 1rem 5rem;
  padding-left: 5rem;
  box-shadow: 0 0.5rem 1rem rgba(36, 39, 43, 0.4);
  background-color: #24272b; }
  @media (max-width: 56.25em) {
    .about {
      padding: 0.4rem 1rem 0.4rem 5rem;
      width: 100%; } }
  .about__text {
    padding: 1rem 1rem;
    font-size: 2.5rem;
    color: #ebfbff; }
  .about__shape {
    width: 20rem;
    height: 20rem;
    float: left;
    position: relative;
    overflow: hidden;
    transform: translateX(-3rem);
    margin-top: 3rem;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(55% at 50% 50%); }
    @media (max-width: 56.25em) {
      .about__shape {
        transform: translateX(-3rem); } }
    @media (max-width: 37.5em) {
      .about__shape {
        float: none;
        margin: 3rem auto 1rem auto; } }
  .about__image {
    height: 100%;
    background-color: #50d7fc; }

.education {
  margin: 5rem auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, min-content);
  gap: 4rem;
  justify-items: center; }
  @media (max-width: 56.25em) {
    .education {
      grid-template-columns: 1fr; } }
  .education__header {
    font-size: 5rem;
    font-weight: 300;
    grid-column: 1 / -1;
    grid-row: 1 / 2; }
  .education__box {
    width: 100%;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 0.5rem 1rem rgba(36, 39, 43, 0.4);
    background-color: #24272b;
    border-top: 10px solid #50d7fc; }
    @media (max-width: 56.25em) {
      .education__box {
        width: 80%; } }
    @media (max-width: 56.25em) {
      .education__box--1 {
        grid-column: 1 / -1; } }
    @media (max-width: 56.25em) {
      .education__box--2 {
        grid-row: 3 / 4;
        grid-column: 1 / -1; } }
    @media (max-width: 56.25em) {
      .education__box--3 {
        grid-row: 4 / 5;
        grid-column: 1 / -1; } }
  .education__title {
    font-size: 3rem;
    font-weight: 300;
    color: #ebfbff; }
  .education__degree {
    font-size: 2rem;
    color: #ebfbff; }

.btn, .btn:link, .btn:visited {
  width: 13rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.3rem;
  padding: 1.5rem 1rem;
  margin: 0.2rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  box-shadow: 0 0.5rem 1rem rgba(36, 39, 43, 0.2);
  z-index: 50;
  border: none;
  cursor: pointer; }
  @media (max-width: 75em) {
    .btn, .btn:link, .btn:visited {
      width: 11rem;
      padding: 0.75rem 0.25rem; } }
  @media (max-width: 56.25em) {
    .btn, .btn:link, .btn:visited {
      width: 15rem;
      font-size: 1.8rem; } }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(36, 39, 43, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(36, 39, 43, 0.2); }

.btn--white {
  background-color: #fff;
  color: #24272b; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background-color: #50d7fc;
  color: #fff; }
  .btn--green::after {
    background-color: #50d7fc; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.4s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #50d7fc;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #50d7fc;
  padding: 3px;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #50d7fc;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(36, 39, 43, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(36, 39, 43, 0.15);
  transform: translateY(0); }

.btn-link:before, .btn-link:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background-color: #fff;
  transition: all 0.3s ease; }

.btn-link:before {
  height: 0%;
  width: 2px; }

.btn-link:after {
  width: 0%;
  height: 2px; }

.btn-link:hover:before {
  height: 100%; }

.btn-link:hover:after {
  width: 100%; }

.btn-link:hover {
  background: transparent; }

.btn-link span:hover {
  color: #fff; }

.btn-link:active:before {
  height: 100%; }

.btn-link:active:after {
  width: 100%; }

.btn-link:active {
  background: transparent; }

.btn-link span:active {
  color: #fff; }

.btn-link span:before,
.btn-link span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background-color: #fff;
  transition: all 0.3s ease; }

.btn-link span:before {
  width: 2px;
  height: 0%; }

.btn-link span:after {
  height: 2px;
  width: 0%; }

.btn-link span:hover:before {
  height: 100%; }

.btn-link span:hover:after {
  width: 100%; }

.btn-link span:active:before {
  height: 100%; }

.btn-link span:active:after {
  width: 100%; }

.card {
  z-index: 1;
  height: 25rem;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  font-size: 0; }
  .card__side {
    height: 25rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    z-index: 1;
    perspective-origin: 50% 50%;
    transform-style: preserve-3d;
    transform-origin: center;
    will-change: transform;
    transition: all 0.6s ease-in-out; }
    .card__side--front {
      background-color: transparent; }
    .card__side--back {
      transform: rotateY(180deg);
      background-image: linear-gradient(to right, #50d7fc 0%, rgba(33, 106, 178, 0.8) 100%); }
    .card__side--front::after, .card__side--back::after {
      display: block;
      content: "";
      position: absolute;
      z-index: 5;
      top: 0;
      left: 0;
      width: 100%;
      height: 150%;
      background: linear-gradient(226deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.4) 35%, rgba(255, 255, 255, 0.2) 42%, rgba(255, 255, 255, 0) 60%);
      transform: translateY(-50%);
      transition: all 0.65s cubic-bezier(0.18, 0.9, 0.58, 1); }
  @media (min-width: 75em) {
    .card:hover .card__side {
      z-index: 5;
      box-shadow: 0 2rem 4rem rgba(36, 39, 43, 0.4); } }
  @media (min-width: 75em) {
    .card:hover .card__side--front {
      transform: rotateY(-180deg) scale(1.2); }
      .card:hover .card__side--front::after {
        transform: translateY(0%); } }
  @media (min-width: 75em) {
    .card:hover .card__side--back {
      transform: rotateY(0) scale(1.2); }
      .card:hover .card__side--back::after {
        transform: translateY(0%);
        transition: all 0.6s cubic-bezier(0.52, 0.08, 0.81, 1.06); } }
  @media (max-width: 75em) {
    .card__rotate .card__side {
      z-index: 5;
      box-shadow: 0 2rem 4rem rgba(36, 39, 43, 0.4); } }
  @media (max-width: 75em) {
    .card__rotate .card__side--front {
      transform: rotateY(-180deg) scale(1.1); }
      .card__rotate .card__side--front::after {
        transform: translateY(0%); } }
  @media (max-width: 75em) {
    .card__rotate .card__side--back {
      transform: rotateY(0) scale(1.1); }
      .card__rotate .card__side--back::after {
        transform: translateY(0%);
        transition: all 0.6s cubic-bezier(0.52, 0.08, 0.81, 1.06); } }
  .card__image {
    width: 100%; }
  .card__heading {
    position: relative;
    width: 100%;
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    color: #24272b; }
  .card__text {
    text-align: center;
    position: relative;
    z-index: 50;
    font-size: 1.5rem;
    font-weight: 300;
    margin: 1rem;
    color: #24272b; }
    .card__text--small {
      font-size: 1.3rem; }
  .card__links {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    height: 100%; }
  .card__info {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    margin: 1rem auto; }
  .card__made-with {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 50; }
    .card__made-with-line {
      display: inline-block;
      transform: translateY(-0.3rem);
      width: 30%;
      height: 0.1rem;
      margin: 0 1rem;
      background-color: #24272b; }
    .card__made-with-text {
      display: inline-block;
      font-size: 1.5rem;
      color: #24272b; }
  .card__techs > li {
    display: inline-block;
    position: relative;
    z-index: 50;
    font-size: 1.3rem;
    background-color: #50d7fc;
    padding: 0.2rem 1rem;
    margin: 0.2rem;
    border-radius: 1rem;
    font-weight: 300; }
  @media (max-width: 75em) {
    .card {
      height: 20vw; }
      .card__side {
        height: 20vw; }
      .card__links {
        width: 100%;
        margin: 0 auto;
        text-align: center; }
      .card__made-with-line {
        width: 20%; } }
  @media (max-width: 56.25em) {
    .card {
      height: 31rem; }
      .card__side {
        height: 31rem; }
        .card__side::after {
          height: 200%; }
      .card__heading {
        font-size: 2.5rem; }
      .card__text {
        font-size: 2rem; }
      .card__made-with-line {
        width: 30%; }
      .card__made-with-text {
        font-size: 2rem; }
      .card__techs > li {
        font-size: 1.8rem; } }
  @media (max-width: 37.5em) {
    .card {
      height: 30rem; }
      .card__side {
        height: 30rem; } }
  @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    .card {
      height: 25rem; }
      .card__side {
        height: 25rem; } }

.contact {
  width: 80%;
  margin: 0 auto;
  text-align: center; }
  @media (max-width: 37.5em) {
    .contact {
      width: 100%; } }
  .contact__email-box {
    margin: 2rem auto;
    width: 30rem;
    text-align: center;
    padding: 1rem; }
  .contact__email-text {
    font-size: 2.5rem;
    font-weight: 400;
    color: #ebfbff; }
  .contact__links {
    display: flex;
    justify-content: center;
    margin: 1rem auto; }
  .contact__link {
    background-color: #fff;
    text-align: center;
    margin: 1rem 2rem;
    padding: 1rem;
    width: 25rem;
    text-decoration: none;
    border-top: 5px solid #50d7fc;
    border-radius: 10rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center; }
    .contact__link:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba(255, 255, 255, 0.3); }
    .contact__link:active, .contact__link:focus {
      outline: none;
      transform: translateY(-1px);
      box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.4); }
    @media (max-width: 56.25em) {
      .contact__link {
        line-height: 1.5;
        width: 25rem;
        margin: 1rem 1rem; } }
    @media (max-width: 37.5em) {
      .contact__link {
        width: 30rem; } }
  .contact__link-logo {
    width: 3rem;
    margin-right: 1rem; }
  .contact__link-text {
    font-size: 2rem;
    font-weight: 400;
    color: #24272b; }
    @media (max-width: 37.5em) {
      .contact__link-text {
        font-size: 2.3rem; } }
  .contact__image-box {
    width: 100%; }
  .contact__image {
    margin: 5rem 0 0 0;
    width: 45rem;
    border-radius: 60%;
    filter: brightness(120%);
    box-shadow: 0 0.2rem 1rem rgba(255, 255, 255, 0.4); }
    @media (max-width: 37.5em) {
      .contact__image {
        width: 80%; } }
  .contact__message {
    font-size: 3rem;
    letter-spacing: 1rem;
    font-weight: 400;
    color: #fff; }

.details {
  display: grid;
  grid-template-columns: min-content 1fr;
  row-gap: 1.5rem;
  column-gap: 1.5rem;
  align-items: center; }
  @media (max-width: 56.25em) {
    .details {
      margin: 0 8rem; } }
  .details__icon {
    width: 4.5rem;
    height: 4.5rem;
    fill: #ebfbff;
    grid-row: 1 / -1; }
  .details__text {
    font-size: 1.6rem;
    grid-column: 2 / 3;
    color: #ebfbff; }
  @media (max-width: 56.25em) {
    .details--1 {
      grid-row: 1 / 2;
      grid-column: 1 / -1; } }
  @media (max-width: 56.25em) {
    .details--2 {
      grid-row: 2 / 3;
      grid-column: 1 / -1; } }
  @media (max-width: 56.25em) {
    .details--3 {
      grid-row: 3 / 4;
      grid-column: 1 / -1; } }

.intro {
  display: grid;
  grid-template-columns: min-content 1fr;
  row-gap: 1.5rem;
  column-gap: 1.5rem;
  align-items: center; }
  .intro__icon {
    width: 4.5rem;
    height: 4.5rem;
    fill: #24272b;
    grid-row: 1 / -1; }
  .intro__text {
    font-size: 1.6rem;
    grid-column: 2 / 3; }

.skills__box {
  display: inline-block;
  width: 60rem;
  padding: 1rem 4rem 2rem 4rem;
  margin: 2rem 20rem;
  border-radius: 2rem;
  box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.4);
  border-top: 10px solid #50d7fc;
  background-color: #ebfbff; }
  @media (max-width: 56.25em) {
    .skills__box {
      width: 55rem;
      margin: 2rem 10rem; } }
  @media (max-width: 37.5em) {
    .skills__box {
      margin: 2rem 0.5rem;
      padding: 1rem 1rem 2rem 1rem;
      width: 90%; } }
  @media (min-width: 112.5em) {
    .skills__box {
      margin: 2rem 30rem; } }

.skills__heading {
  font-size: 2.5rem;
  font-weight: 400;
  color: #24272b;
  margin: 1rem; }

.list--white-icons > li {
  display: inline-block;
  background-color: #fff;
  padding: 0.2rem 1rem;
  margin: 0.2rem;
  border-radius: 1rem;
  font-size: 2rem;
  font-weight: 300;
  box-shadow: 0 0.5rem 1rem rgba(36, 39, 43, 0.4); }

.footer {
  width: 100%;
  padding: 2rem;
  background-color: #ebfbff;
  text-align: center; }
  @media (max-width: 37.5em) {
    .footer {
      padding: 1rem; } }
  .footer__link {
    display: inline-block;
    text-decoration: none;
    padding: 0.6rem 1rem;
    background-color: #ebfbff;
    border-radius: 2rem;
    transition: all 0.2s; }
    @media (max-width: 37.5em) {
      .footer__link {
        padding: 0.3rem 1rem; } }
    .footer__link:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba(36, 39, 43, 0.3); }
    .footer__link:active, .footer__link:focus {
      outline: none;
      transform: translateY(-1px);
      box-shadow: 0 0.5rem 1rem rgba(36, 39, 43, 0.4); }
  .footer__text {
    display: inline-block;
    color: #24272b;
    font-size: 2.2rem; }
  .footer__logo {
    display: inline-block;
    transform: translateY(0.8rem);
    width: 3rem; }

.copyright {
  font-size: 1.6rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 3rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        margin-bottom: 5rem;
        width: 100% !important; } }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.dot {
  border-right: 1px solid white;
  border-left: 1px solid white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  animation: growdot 2s ease-out; }

.header {
  height: 85vh;
  background-color: #24272b;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -2px; }
  @media (max-width: 56.25em) {
    .header {
      height: 90vh; } }
  .header__box-main {
    width: 80%;
    padding: 5rem 0;
    animation: expand 2s ease-out; }
  .header__box-sub {
    width: 80%;
    text-align: center;
    animation: expand 2s ease-out; }
  .header__loc-icon, .header__loc-text {
    font-size: 2rem;
    display: inline-block;
    color: #c7d3e2; }
  .header__welcome-text, .header__welcome-icon {
    font-size: 2.4rem;
    font-weight: 400;
    color: #c7d3e2;
    font-style: italic; }
  .header__scroll-icon {
    width: 6rem;
    animation: bounce 2s ease-in-out 2s infinite; }

.nav {
  height: 4rem;
  width: 100%;
  padding: 0.3rem;
  background-color: #24272b;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: all 0.3s ease;
  display: flex;
  justify-content: space-between; }
  @media (max-width: 75em) {
    .nav {
      height: 7rem;
      background-color: transparent; } }
  .nav__left {
    width: 27%;
    padding: 0.1rem 2rem; }
    @media (max-width: 75em) {
      .nav__left {
        width: 15%;
        padding: 0.1rem 0.8rem; } }
  .nav__right {
    padding: 0.1rem 0.1rem;
    width: 35%;
    text-align: center; }
    @media (max-width: 75em) {
      .nav__right {
        width: auto; } }
  .nav__logo {
    width: 3rem;
    margin: 0 3rem; }
    @media (max-width: 75em) {
      .nav__logo {
        transform: translateY(1.3rem); } }
  @media (max-width: 75em) {
    .nav__links {
      display: none; } }
  .nav__link {
    margin: 0 1rem;
    padding: 0.1rem 0.4rem;
    color: #fff;
    text-decoration: none;
    position: relative;
    display: inline-block; }
  .nav__button {
    position: fixed;
    top: 0;
    right: 2.5rem;
    z-index: 2500;
    display: none;
    width: 5rem;
    height: 5rem;
    margin: 0 auto;
    border: 1px solid #50d7fc;
    background-color: #fff;
    border-radius: 50%;
    transform: translateY(1.3rem);
    box-shadow: 0 1rem 3rem rgba(36, 39, 43, 0.2);
    text-align: center;
    cursor: pointer; }
    @media (max-width: 75em) {
      .nav__button {
        display: inline-block; } }
  .nav__checkbox {
    display: none; }
  .nav__icon {
    position: relative;
    margin-top: 2.2rem; }
    .nav__icon, .nav__icon::before, .nav__icon::after {
      width: 2.5rem;
      height: 2px;
      background-color: #24272b;
      display: inline-block; }
    .nav__icon::before, .nav__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s; }
    .nav__icon::before {
      top: -0.8rem; }
    .nav__icon::after {
      top: 0.8rem; }
  .nav__button:hover .nav__icon::before {
    top: -1rem; }
  .nav__button:hover .nav__icon::after {
    top: 1rem; }
  .nav__checkbox:checked + .nav__button .nav__icon {
    background-color: transparent; }
  .nav__checkbox:checked + .nav__button .nav__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .nav__checkbox:checked + .nav__button .nav__icon::after {
    top: 0;
    transform: rotate(-135deg); }
  .nav-mobile {
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 6.5rem;
    z-index: 2000;
    opacity: 0;
    width: 0;
    background-color: #24272b;
    box-shadow: 0 1rem 3rem rgba(36, 39, 43, 0.2);
    transition: all 0.8s; }
  .nav-mobile__links {
    text-align: center; }
  .nav-mobile__link {
    position: relative;
    display: block;
    font-size: 2rem;
    z-index: 2100;
    color: #ebfbff;
    text-decoration: none;
    margin: 1rem; }
  .nav__checkbox:checked ~ .nav-mobile {
    opacity: 0.8;
    width: 10rem; }

.header-end {
  height: 15vh;
  width: 100%;
  background-color: #24272b;
  clip-path: polygon(20% 0, 80% 0, 65% 98%, 35% 98%); }
  @media (max-width: 56.25em) {
    .header-end {
      height: 10vh; } }

.details-start {
  height: 15vh;
  background-color: #24272b;
  clip-path: polygon(35% 0, 65% 0, 80% 100%, 20% 100%);
  margin-bottom: -1px; }
  @media (max-width: 56.25em) {
    .details-start {
      height: 10vh; } }

.section-details {
  background-color: #24272b;
  padding: 10rem 2rem;
  min-height: 10vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, min-content);
  grid-gap: 6rem;
  align-items: start;
  margin-bottom: -2px; }
  @media (max-width: 56.25em) {
    .section-details {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, min-content); } }

.details-end {
  height: 15vh;
  background-color: #24272b;
  clip-path: polygon(20% 0, 80% 0, 65% 100%, 35% 100%); }
  @media (max-width: 56.25em) {
    .details-end {
      height: 10vh; } }

.section-projects {
  background-color: #ebfbff;
  padding: 5rem; }
  @media (max-width: 56.25em) {
    .section-projects {
      padding: 2rem 5rem 10rem 5rem;
      clip-path: polygon(0 0, 100% 0, 100% 98%, 90% 100%, 10% 100%, 0 98%); } }
  @media (max-width: 37.5em) {
    .section-projects {
      padding: 2rem 1rem 13rem 1rem; } }

.projects-end {
  height: 15vh;
  background-color: #24272b;
  clip-path: polygon(20% 0, 80% 0, 100% 100%, 0 100%);
  margin-bottom: -1px; }
  @media (max-width: 56.25em) {
    .projects-end {
      height: 10vh; } }

.section-skills {
  padding: 0 5rem;
  text-align: center;
  background-color: #24272b;
  margin-bottom: -2px; }
  @media (max-width: 56.25em) {
    .section-skills {
      padding: 0 2rem; } }

.skills-end {
  height: 15vh;
  background-color: #24272b;
  clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%); }
  @media (max-width: 56.25em) {
    .skills-end {
      height: 10vh; } }

.section-about {
  background-color: #ebfbff;
  padding: 5rem 5rem; }
  @media (max-width: 56.25em) {
    .section-about {
      padding: 0 2rem; } }

.about-end {
  height: 15vh;
  background-color: #24272b;
  clip-path: polygon(20% 0, 80% 0, 100% 100%, 0 100%);
  margin-bottom: -2px; }
  @media (max-width: 56.25em) {
    .about-end {
      height: 10vh; } }

.section-contact {
  background-color: #24272b;
  padding: 0 5rem 5rem 5rem; }
  @media (max-width: 37.5em) {
    .section-contact {
      padding: 10rem 1rem 10rem 1rem; } }
