@mixin cardHeight {
  height: 27rem;

  @include respond(tab-land) {
    height: 28rem;
  }

  @include respond(tab-port) {
    height: 31rem;
  }

  @include respond(phone) {
    height: 30rem;
  }

  @include respond(iphonex) {
    height: 27rem;
  }
}

@mixin cardWidth {
  width: 38rem;
  @include respond(iphonex) {
    width: 30rem;
  }
}

.card {
  // functionality
  // background-color: orangered;
  z-index: 1;
  @include cardHeight;
  @include cardWidth;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  font-size: 0;
  transition: all 0.2s;

  &__side {
    @include cardHeight;
    @include cardWidth;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;

    z-index: 1;
    perspective-origin: 50% 50%;
    transform-style: preserve-3d;
    transform-origin: center;
    will-change: transform;
    transition: all 0.6s ease-in-out;

    &--front {
      background-color: transparent;
    }

    &--back {
      transform: rotateY(180deg);
      background-color: rgba($color-bg-dark, 1);
    }

    // Gloss effect

    &--front::after,
    &--back::after {
      display: block;
      content: "";
      position: absolute;
      z-index: 5;
      top: 0;
      left: 0;
      width: 100%;
      height: 150%;
      background: linear-gradient(
        226deg,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(255, 255, 255, 0.4) 35%,
        rgba(255, 255, 255, 0.2) 42%,
        rgba(255, 255, 255, 0) 60%
      );

      transform: translateY(-30%);

      transition: all 0.65s cubic-bezier(0.18, 0.9, 0.58, 1);
    }
  }

  &:hover {
    z-index: 5;
  }

  &:hover &__side {
    @include respond(desktop) {
      z-index: 5;
      box-shadow: 0 2rem 4rem rgba($color-black, 0.4);
    }
  }

  &:hover &__side--front {
    @include respond(desktop) {
      transform: rotateY(-180deg) scale(1.4);
      &::after {
        transform: translateY(0%);
      }
    }
  }
  &:hover &__side--back {
    @include respond(desktop) {
      transform: rotateY(0) scale(1.4);
      &::after {
        transform: translateY(0%);
        transition: all 0.6s cubic-bezier(0.52, 0.08, 0.81, 1.06);
      }
    }
  }

  &__rotate &__side {
    @include respond(tab-land) {
      z-index: 5;
      box-shadow: 0 2rem 4rem rgba($color-black, 0.4);
    }
  }

  &__rotate &__side--front {
    @include respond(tab-land) {
      transform: rotateY(-180deg) scale(1.1);
      &::after {
        transform: translateY(0%);
      }
    }
  }
  &__rotate &__side--back {
    @include respond(tab-land) {
      transform: rotateY(0) scale(1.1);
      &::after {
        transform: translateY(0%);
        transition: all 0.6s cubic-bezier(0.52, 0.08, 0.81, 1.06);
      }
    }
  }

  // front side styling
  &__image {
    width: 100%;
    object-fit: cover;
  }

  &__heading {
    position: relative;
    // top: 21rem;
    width: 100%;
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    color: $color-grey-dark;
  }

  // back side styling

  &__text {
    text-align: center;
    position: relative;
    z-index: 50;
    font-size: 1.5rem;
    font-weight: 300;
    margin: 1rem;
    color: $color-black;

    &--small {
      font-size: 1.3rem;
    }
  }

  &__links {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    height: 100%;
  }

  &__info {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    margin: 1rem auto;
  }

  &__made-with {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 50;

    &-line {
      display: inline-block;
      transform: translateY(-0.3rem);
      width: 30%;
      height: 0.1rem;
      margin: 0 1rem;
      background-color: $color-grey-dark;
    }

    &-text {
      display: inline-block;
      font-size: 1.5rem;
      color: $color-black;
    }
  }

  &__techs > li {
    display: inline-block;
    position: relative;
    z-index: 50;
    font-size: 1.3rem;
    background-color: $color-primary;
    padding: 0.2rem 1rem;
    margin: 0.2rem;
    border-radius: 1rem;
    font-weight: 300;
    color: $color-text-dark;
  }

  @include respond(tab-land) {
    &__links {
      width: 100%;
      margin: 0 auto;
      text-align: center;
    }

    &__made-with {
      &-line {
        width: 20%;
      }
    }
  }

  @include respond(tab-port) {
    &__side {
      &::after {
        height: 200%;
      }
    }

    &__heading {
      font-size: 2.5rem;
    }

    &__text {
      font-size: 2rem;
    }
    &__made-with {
      &-line {
        width: 30%;
      }

      &-text {
        font-size: 2rem;
      }
    }

    &__techs > li {
      font-size: 1.8rem;
    }
  }

  // @include respond(tab-land) {
  //   // functionality
  //   height: 24rem;

  //   &:hover &::after {
  //     transform: translateY(0%);
  //   }

  //   &:hover &__side--front {
  //     transform: rotateY(0);
  //   }

  //   &:hover &__side--back {
  //     transform: translateY(0) rotateY(0) scale(1);
  //   }

  //   &::after {
  //     display: block;
  //     content: "";
  //     position: absolute;
  //     z-index: 5;
  //     top: 0;
  //     left: 0;
  //     width: 100%;
  //     height: 150%;
  //     background: linear-gradient(
  //       226deg,
  //       rgba(255, 255, 255, 0.4) 0%,
  //       rgba(255, 255, 255, 0.4) 35%,
  //       rgba(255, 255, 255, 0.2) 42%,
  //       rgba(255, 255, 255, 0) 60%
  //     );
  //     transform: translateY(-50%);
  //     transition: all 0.65s cubic-bezier(0.18, 0.9, 0.58, 1);
  //   }

  //   &__side {
  //     height: 24rem;
  //     position: relative;

  //     &--front {
  //       background-color: rgba($color-primary, 0.9);
  //     }

  //     &--back {
  //       transform: rotateY(0);
  //     }

  //     // front side styling

  //     // back side styling

  //     // gloss
  //     &--front::after,
  //     &--back::after {
  //       display: none;
  //     }
  //   }
  // }
}
