.contact {
  width: 80%;
  margin: 0 auto;
  text-align: center;

  @include respond(phone) {
    width: 100%;
  }

  &__email-box {
    margin: 2rem auto;
    width: 30rem;

    text-align: center;
    padding: 1rem;
  }

  &__email-text {
    font-size: 2.5rem;
    font-weight: 400;
    color: $color-black;
  }

  &__links {
    display: flex;
    justify-content: center;
    margin: 1rem auto;
  }

  &__link {
    background-color: $color-white;
    text-align: center;
    margin: 1rem 2rem;
    padding: 1rem;
    width: 25rem;
    text-decoration: none;

    border-radius: 10rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.4);

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba($color-black, 0.3);
    }

    &:active,
    &:focus {
      outline: none;
      transform: translateY(-1px);
      box-shadow: 0 0.5rem 1rem rgba($color-black, 0.4);
    }
    @include respond(tab-port) {
      line-height: 1.5;
      width: 25rem;
      margin: 1rem 1rem;
    }
    @include respond(phone) {
      width: 30rem;
    }
  }

  &__link-logo {
    width: 3rem;
    margin-right: 1rem;
  }

  &__link-text {
    font-size: 2rem;
    font-weight: 400;
    color: $color-grey-dark;

    @include respond(phone) {
      font-size: 2.3rem;
    }
  }

  &__image-box {
    width: 100%;
  }

  &__image {
    margin: 3rem 0 0 0;
    width: 45rem;
    border-radius: 60%;
    filter: brightness(120%);

    box-shadow: 0 0.2rem 1rem rgba($color-white, 0.4);
    @include respond(phone) {
      width: 80%;
    }
  }

  &__message {
    font-size: 3rem;
    letter-spacing: 0.5rem;
    font-weight: 400;
    color: $color-black;

    @include respond(tab-land) {
      // letter-spacing: 1rem;
    }
  }
}
