.intro {
  &__text-1 {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 3rem;
    color: $color-text-light;
    text-shadow: 0 0.1rem 0.4rem rgba($color-black, 1);
  }

  &__text-2 {
    font-size: 2.4rem;
    color: $color-text-dark;
  }
}
