.skills {
  &__box {
    width: 70rem;
    padding: 1rem 4rem 2rem 4rem;
    margin: 2rem auto;

    box-shadow: 0 0.5rem 1rem rgba($color-white, 0.4);
    border-top: 10px solid $color-black;
    background-color: $color-grey-light;

    @include respond(tab-port) {
      width: 55rem;
    }

    @include respond(phone) {
      padding: 1rem 1rem 2rem 1rem;
      width: 90%;
    }
  }

  &__heading {
    font-size: 2.5rem;
    font-weight: 400;
    color: $color-grey-dark;
    margin: 1rem;
  }
}

.list--white-icons > li {
  display: inline-block;

  background-color: $color-white;
  padding: 0.2rem 1rem;
  margin: 0.2rem;
  border-radius: 1rem;
  font-size: 2rem;
  font-weight: 300;
  box-shadow: 0 0.5rem 1rem rgba($color-black, 0.4);
  color: $color-black;
}
