.dot {
  border-right: 1px solid white;
  border-left: 1px solid white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 9999;

  animation: growdot 2s ease-out;
}

.header {
  height: 85vh;
  background-color: $color-grey-dark;

  position: relative;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -2px;

  @include respond(tab-port) {
    height: 90vh;
  }

  &__box-main {
    width: 80%;

    padding: 5rem 0;
    animation: expand 2s ease-out;

    // @include respond(tab-land) {
    //   margin-top: 8rem;
    // }
  }

  &__box-sub {
    width: 80%;
    text-align: center;
    animation: expand 2s ease-out;
  }

  &__loc-icon,
  &__loc-text {
    font-size: 3rem;
    display: inline-block;
    color: $color-grey;
  }

  &__welcome-text,
  &__welcome-icon {
    font-size: 2.4rem;
    font-weight: 400;
    color: $color-grey;
    font-style: italic;
  }

  &__scroll-icon {
    width: 6rem;
    animation: bounce 2s ease-in-out 2s infinite;
  }
}
