.header {
  height: 90vh;
  z-index: 100;
  position: relative;
  background-color: $color-grey-dark;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 90%,
    80% 90%,
    65% 100%,
    35% 100%,
    20% 90%,
    0 90%
  );
  text-align: center;
  &__box-main {
    position: absolute;

    width: 80%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 5rem 0;

    @include respond(tab-land) {
      margin-top: 8rem;
    }
  }

  &__box-sub {
    position: absolute;
    width: 80%;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &__loc-icon,
  &__loc-text {
    font-size: 2rem;
    display: inline-block;
    color: $color-grey;
  }

  &__welcome-text,
  &__welcome-icon {
    font-size: 2.4rem;
    font-weight: 400;
    color: $color-grey;
    font-style: italic;
  }

  &__scroll-icon {
    width: 6rem;
    animation: bounce 2s ease-in-out 2s infinite;
  }
}
