.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 4rem;
  width: 100%;
  background-color: rgba($color-black, 0.7);

  padding: 0.3rem;
  transition: all 0.3s ease;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    75% 100%,
    70% 0,
    30% 0,
    25% 100%,
    0 100%
  );

  @include respond(tab-land) {
    height: 7rem;
    clip-path: polygon(
      0 0,
      100% 0,
      100% 100%,
      90% 100%,
      85% 0,
      15% 0,
      10% 100%,
      0 100%
    );
  }

  @include respond(phone) {
    height: 7rem;
    clip-path: polygon(
      0 0,
      100% 0,
      100% 100%,
      85% 100%,
      80% 0,
      20% 0,
      15% 100%,
      0 100%
    );
  }

  &__left {
    padding: 0.1rem 2rem;
    float: left;
    width: 27%;
    text-align: center;

    @include respond(tab-land) {
      width: 10%;
    }
  }

  &__message {
    color: $color-white;
    text-decoration: none;
    margin: 0 1rem;

    @include respond(tab-land) {
      display: none;
    }
  }

  &__message--mobile {
    display: none;
    color: $color-white;
    text-decoration: none;
    margin: 0 1rem;
    transform: translateY(2rem);

    @include respond(tab-land) {
      display: inline-block;
    }
  }

  &__right {
    padding: 0.1rem 0.1rem;
    float: right;
    width: 28%;
    text-align: right;

    @include respond(tab-land) {
      width: auto;
      position: absolute;
      top: 30%;
      right: 10%;
    }
    @include respond(phone) {
      right: 15%;
    }
  }

  &__links {
    // display: none;

    @include respond(tab-land) {
      display: none;
    }
  }

  &__link {
    display: inline-block;
    color: $color-white;
    margin: 0 1rem;
    text-decoration: none;
  }

  // for mobile screens

  &__button {
    position: fixed;
    top: 0;
    right: 4rem;
    z-index: 2500;

    display: none;
    width: 4rem;
    height: 4rem;
    margin: 0 auto;
    background-color: $color-white;
    border-radius: 50%;
    transform: translateY(1.3rem);

    box-shadow: 0 1rem 3rem rgba($color-black, 0.1);
    text-align: center;
    cursor: pointer;

    @include respond(tab-land) {
      display: inline-block;
    }
  }

  // FUNCTIONALITY (for mobile)
  &__checkbox {
    display: none;
  }
  &__icon {
    position: relative;

    margin-top: 1.8rem;

    &,
    &::before,
    &::after {
      width: 2.5rem;
      height: 2px;
      background-color: $color-grey-dark;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }

    &::before {
      top: -0.8rem;
    }

    &::after {
      top: 0.8rem;
    }
  }

  &__button:hover &__icon::before {
    top: -1rem;
  }
  &__button:hover &__icon::after {
    top: 1rem;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }

  &__checkbox:checked ~ & {
    animation: growNav 0.2s ease;

    // clip-path: polygon(
    //   0 0,
    //   100% 0,
    //   100% 100%,
    //   50% 100%,
    //   45% 0,
    //   15% 0,
    //   10% 100%,
    //   0 100%
    // );

    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  &__checkbox:checked ~ & &__right {
    width: 80%;
  }

  &__checkbox:checked ~ & &__links {
    display: inline;
  }
}
